*{
	padding:0;
	margin:0;
	font-family:Arial;
}
#c{
	background:#ff9102;
	text-align:center;
	color:#fff;
	height:8%;
	padding-top:2%;
	font-size:120%;
	border-bottom: solid 1px #fff;
}
#d{
	height:80%;
	position:relative;
	text-align:justify;
}
#d img{
	width:30%;
	margin-left:35%;
	

}
#d h3{
	margin-top:6%;
	margin-bottom: 1%;
}
#f1{
	width:45%;
	border:solid 4px rgba(0, 0, 0, .5);
	display:block;
	position:absolute;
	top:30%;
	left:2%;
	height:60%;
	border-radius:0 10% 10% 10%;
	padding:1%;
}


#f2{
	width:45%;
	border:solid 4px rgba(0, 0, 0, .5);
	display:block;
	position:absolute;
	top:30%;
	left:52%;
	height:60%;
	border-radius:0 10% 10% 10%;
	padding:1%;

}

#n1 ul li{
	background: #ff9102;
	color:#fff;
	text-align: center;
	width:50%;
	height:40px;
	line-height: 40px;
	float:left;
	display:inline-block;  
	font-size: 110%;
	transition:background 1s; 

}
#n1 ul ul{
	display:none;
}
#n1 ul li:hover{
	background:#c88606;
}
#n1 ul li:hover >ul{
	display:block;
}
#n1 a{
	color:#fff;
	text-decoration: none;
}
footer{
	text-align:center;
	color:#fff;
	background:#ff9102;
	height:15%;
	padding-top:1%;
	margin-bottom: 0: 
}
footer p{
	
	padding-top:1%;
}
footer img{
	width:2%;
	margin-left: 1%;

}
#fp{
	margin-right: 4%;
}
@media screen and (max-width: 768px){
	#c{
		padding-bottom: 2%;
	}
	#d{
		height:150%;
		margin-bottom: -150;
		text-align: justify;
	}
	#d img{
		width:70%;
		margin-left: 18%;
	}
	#d h3{
		margin-bottom: 2%;
	}
	#f1{
		width:80%;
		left:8px;
		height:50%;
		top:20%;
		padding: 4%;

	}
	#f2{
		width:80%;
		top:80%;
		left:8px;
		height:50%;
		padding: 4%;

	}
	footer{
		margin-top:130%;
		font-size:110%;
		height: 18%;
	}
	footer img{
		width: 5%;
		margin-left:2%;

	}

}
